:root {
    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  }
   
  * {
    padding: 0;
    margin: 0;
  }
   
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
  }

  /*CUSTOM VARIABLES HERE*/
 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font: 16px/1.5 sans-serif;
  }
   
  .btn-group {
    text-align: center;
  }
   
  .open-modal {
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: .75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }

  /*CUSTOM VARIABLES HERE*/
 
.modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  /*CUSTOM VARIABLES HERE*/
 
.modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
  }

  /*CUSTOM VARIABLES HERE*/
 
.modal-dialog > * {
    padding: 1rem;
  }
   
  .modal-header,
  .modal-footer {
    background: var(--lightgray);
  }
   
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   
  .modal-header .modal-close {
    font-size: 1.5rem;
  }
   
  .modal p + p {
    margin-top: 1rem;
  }