#hello {
	color: red;
}
/*all*/
#lauruxcontact{
	font-size: 120%;
}
.section {
    display: block;
    padding-left: 20px;
    margin-bottom: 24px;
    padding-top: 5px;
}
.gras{
	font-weight: bold;
}
.tabSpec{
	width: 100%;
}
.tabSpec tr{
	background-color: white;
	padding-left: 15px;
}
.tabSpec tr:nth-child(odd){
	background-color: white;
}
.tabSpec tr:nth-child(even){
	background-color: #e2e2e2ea;
}
.tabSpec td{
	padding-left: 15px;
}

/*Formulaire ajout contact*/
.formAjoutContact{
	content: '';
	display: table;
	clear: both;
}
.formAjoutContact label{
	font-weight: lighter;
}
.formAjoutContact input[type=text]{
	background-color: #e2e2e2ea;
}
.formAjoutContact .nomPrenom input{
	font-size: large;
}
@media screen and (min-width: 1580px){
	.formAjoutContact .partieDroite, .partieGauche{
		width: 50%;
	}
	.formAjoutContact .partieDroite{
		float: right;
	}
	.formAjoutContact .partieGauche{
		float: left;
	}
	.formAjoutContact input[type=text]{
		width: 250px;
	}
	.formAjoutContact .titreForm{
		padding-top: 20px;
		color: #e53434;
		font-style: italic;
		font-weight: bold;
	}
	.formAjoutContact .suivi, .proContact{
		width: 25%;
		float: left;
	}
	.formAjoutContact .comm, .histo{
		width: 100%;
		float: left;
	}
	.formAjoutContact .noteContact, .historiqueContact{
		width: 900px;
		height: 85px;
	}
}
@media screen and (max-width: 1579px) and (min-width: 376px){
	.formAjoutContact input[type=text]{
		width: 250px;
	}
	.formAjoutContact .titreForm{
		padding-top: 20px;
		color: #e53434;
		font-style: italic;
		font-weight: bold;
	}
	.formAjoutContact .suivi, .proContact{
		width: 25%;
		float: left;
	}
	.formAjoutContact .comm, .histo{
		width: 100%;
		float: left;
	}
	.formAjoutContact .noteContact, .historiqueContact{
		width: 900px;
		height: 85px;
	}
}
@media screen and (max-width: 375px){
	.formAjoutContact .partieDroite, .partieGauche{
		width: 100%;
	}
	.formAjoutContact .titreForm{
		padding-top: 20px;
		color: #e53434;
		font-style: italic;
		font-weight: bold;
	}
	.formAjoutContact input[type=text]{
		width: 100px;
	}
	.formAjoutContact .comm, .histo{
		width: 100%;
		float: left;
	}
	.formAjoutContact .noteContact, .historiqueContact{
		width: auto;
		padding: 15px;
	}
	.formAjoutContact .enregistrerModif{
		float: left;
	}
}


/*Formulaire édition contact*/
.formEditContact{
	content: '';
	display: table;
	clear: both;
}
.formEditContact label{
	font-weight: lighter;
}
.formEditContact input[type=text]{
	background-color: #e2e2e2ea;
	width: 250px;
}
.formEditContact .nomPrenom input{
	font-size: large;
}
.formEditContact .centrage{
	display: flex;
	align-items: center;
	height: 35px;
	margin-right: 40px;
}
@media screen and (min-width: 1580px){
	.formEditContact .partieDroite, .partieGauche{
		width: 50%;
	}
	.formEditContact .partieDroite{
		float: right;
	}
	.formEditContact .partieGauche{
		float: left;
	}
	.formEditContact input[type=text]{
		width: 250px;
	}
	.formEditContact .titreForm{
		padding-top: 20px;
		color: #e53434;
		font-style: italic;
		font-weight: bold;
	}
	.formEditContact .btnContexte{
		display: inline-flex;
	}
	.formEditContact .suivi, .proContact{
		width: 25%;
		float: left;
	}
	.formEditContact .lienActi{
		width: 100%;
	}
	.formEditContact .comm, .histo{
		width: 100%;
		float: left;
	}
	.formEditContact .noteContact, .historiqueContact{
		width: 900px;
		height: 85px;
	}
}
@media screen and (max-width: 1579px) and (min-width: 376px){
	.formEditContact input[type=text]{
		width: 250px;
	}
	.formEditContact .titreForm{
		padding-top: 20px;
		color: #e53434;
		font-style: italic;
		font-weight: bold;
	}
	.formEditContact .suivi, .proContact{
		width: 25%;
		float: left;
	}
	.formEditContact .lienActi{
		width: 100%;
		float: left;
	}
	.formEditContact .comm, .histo{
		width: 100%;
		float: left;
	}
	.formEditContact .noteContact, .historiqueContact{
		width: 900px;
		height: 85px;
	}
}
@media screen and (max-width: 375px){
	.formEditContact .partieDroite, .partieGauche{
		width: 100%;
	}
	.formEditContact .titreForm{
		padding-top: 20px;
		color: #e53434;
		font-style: italic;
		font-weight: bold;
	}
	.formEditContact input[type=text]{
		width: 100px;
	}
	.formEditContact .suivi, .proContact{
		width: 25%;
	}
	.formEditContact .lienActi{
		width: 100%;
		float: left;
	}
	.formEditContact .lienActi td{
		font-size: 13px;
	}
	.formEditContact .lienActi td input{
		width: 90px;
	}
	.formEditContact .comm, .histo{
		width: 100%;
		float: left;
	}
	.formEditContact .noteContact, .historiqueContact{
		width: auto;
	}
	.formEditContact .enregistrerModif{
		float: left;
	}
}

/*Index*/
.index .titre{
	padding-top: 20px;
	color: #e53434;
	font-style: italic;
	font-weight: bold;
}
.index input[type=text]{
	background-color: #e2e2e2ea;
	width: 250px;
}
.index .colonne{
	float: left;
	height: 50px;
	background-color: thistle;
}
.index .colonne{
	float: left;
	height: 50px;
	background-color: thistle;
}
.index .btnFiltre .resetFiltreGlobal{
	padding:6px 0 6px 0;
	font:Bold 13px Arial;
	background:#e53434;
	color:#fff;
	width:110px;
	border-radius:2px;
	border:none;
}
.index .btnFiltre .exporterCsv{
	padding:6px 0 6px 0;
	font:Bold 13px Arial;
	background:#19a019;
	color:#fff;
	width:110px;
	border-radius:2px;
	border:none;
}
.index .filtre .sousTitre{
	font-style: italic;
	padding-top: 10px;
}